{% if tags %}
  <div class="post-tags">
    {% for tag in tags %}
      {%- if tag != "posts" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl }}" class="post-tag">#{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
  </div>
{% endif %}