<footer class="site-footer">
<div class="site-footer__inner">
<p>&copy; {{ '' | getYear }} {{metadata.footer.title}} – Built with <a href="https://www.11ty.dev/">11ty</a> - Develope by <a href="https://adamdjbrett.com">Adam Dj Brett</a></p>
<p class="site-footer__links">
{% for f in metadata.footer.list %}<a href="{{f.url}}">{{f.nav}}</a>{% endfor %}
</p>
</div>
</footer>