<script>
  // Function to set theme
  function setTheme(themeName) {
    localStorage.setItem('theme', themeName);
    document.documentElement.setAttribute('data-theme', themeName);
  }

  // Function to toggle theme
  function toggleTheme() {
    if (localStorage.getItem('theme') === 'dark') {
      setTheme('light');
    } else {
      setTheme('dark');
    }
  }

  // Immediately invoked function to set the theme on initial load
  (function () {
    // Check for saved theme preference or use system preference
    if (localStorage.getItem('theme') === 'dark' || 
        (!localStorage.getItem('theme') && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      setTheme('dark');
    } else {
      setTheme('light');
    }
    
    // Add event listener for theme toggle button
    document.getElementById('theme-toggle').addEventListener('click', toggleTheme);
  })();
</script>
