<script>
const themeBtn = document.getElementById('theme-toggle');
const root = document.documentElement;

// Set awal
if (localStorage.getItem('theme') === 'dark') {
  root.setAttribute('data-theme', 'dark');
} else {
  root.removeAttribute('data-theme');
}
updateButtonText();

themeBtn.addEventListener('click', function() {
  let currentTheme = root.getAttribute('data-theme');
  if (currentTheme === 'dark') {
    root.removeAttribute('data-theme');
    localStorage.setItem('theme', 'light');
  } else {
    root.setAttribute('data-theme', 'dark');
    localStorage.setItem('theme', 'dark');
  }
  updateButtonText();
});

function updateButtonText() {
  let theme = root.getAttribute('data-theme');
  if (theme === 'dark') {
    themeBtn.textContent = '☀️ Light Mode';
  } else {
    themeBtn.textContent = '🌙 Dark Mode';
  }
}

</script>